.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml
.vscode/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
.env
.tool-data/
.chrome-data/
.data/
config/dart_defines.json
